.card {
  display: flex;
  width: 640px;
  border-radius: 12px;
  overflow: auto;
  margin-bottom: 40px;
  background-color: #323232;
}
.card img {
  width: 220px;
  height: 330px;
  object-fit: cover;
}
.info {
  padding: 8px;
  color: #e7e7e7;
}

.name_movie {
    font-size: 16px;
}
